.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.background {
    background-color: dodgerblue;
}


.ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    background-color: aliceblue;
  }

  .footer-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    background-color: aliceblue;
  }

  